{
    "torrents": [
        {
            "name": "Walking Dead",
            "type": "show",
            "release": {
                "day": "Thursday",
                "year": "2015"
            }
        },
        {
            "name": "The Flash",
            "type": "show",
            "release": {
                "day": "Tuesday",
                "time": "8pm",
                "year": "2015"
            }
        },
        {
            "name": "Heroes Reborn",
            "type": "show",
            "release": {
                "day": "Thursday",
                "time": "8pm",
                "year": "2015"
            }
        },
        {
            "name": "Arrow",
            "type": "show",
            "release": {
                "day": "Wednesday",
                "time": "8pm",
                "year": "2015"
            }
        }
    ]
}